<div class="accessibility-bar-container">
    <ul>
        <div><input id="increase-size" type="image" src="../../assets/icons/Group 2.png" alt="aumentar fonte" (click)="changeFontSize('increase-font')"></div>
        <div><input id="default-size" type="image" src="../../assets/icons/Group 3.png" alt="fonte padrão" (click)="changeFontSize('default-font')"></div>
        <div><input id="decrease-size" type="image" src="../../assets/icons/Group 4.png" alt="diminuir fonte" (click)="changeFontSize('decrease-font')"></div>
    </ul>
</div>