<section id="about-us-container">
    <div class="team-cherry-container">
        <div class="team-cherry-child">
            <p id="team-cherry-title" class="section-title">Construindo mundos bizarros para você explorar</p>
            <p id="team-cherry-description" class="description">Team cherry é um pequeno time de desenvolvimento independente de Adelaide, Austrália. O time é formado por apenas três pessoa que são responsáveis por tudo neste universo!</p>
            <a href="https://www.teamcherry.com.au/" target="_blank"><button id="team-cherry-button" class="page-button"><img src="../../assets/icons/team-cherry.png" alt="Team Cherry Logo">VISITE O SITE OFICIAL</button></a>
        </div>
        <div class="team-cherry-child">
            <img id="team-cherry-img" src="../../assets/images/team-cherry-logo.png" alt="Team Cherry Logo">
        </div>
    </div>
    
    <div class="space"></div>
    
    <div class="lead-container">
        <div class="lead-child">
            <p id="lead-title" class="section-title">Lead Mentoring</p>
            <p id="lead-description" class="description">Este site foi desenvolvido como parte de um desafio para o Lead Mentoring, visando implementar conceitos de desenvolvimento web e acessibilidade.</p>
            <a href="https://leadfortaleza.com.br/portal" target="_blank"><button id="lead-button" class="page-button"><img id="lead-icon" src="../../assets/icons/logo lead 02.svg" alt="Lead Icon">CONHEÇA O LEAD</button></a>
        </div>
        <div class="lead-child">
            <img id="lead-img" src="../../assets/images/lead-logo.png" alt="Lead Logo">
        </div>
    </div>

        <div class="space"></div>

        <div class="mentoring-container">
            <div class="mentoring-child">
                <img class="mentoring-img" src="../../assets/images/victor.jpg" alt="Victor Martins">
                <p id="mentoring-name1" class="mentoring-name">VICTOR MARTINS</p>
                <p id="mentoring-description1" class="mentoring-description">Mentorando FullStack na Lead Dell</p>
            </div>

            <div class="mentoring-child">
                <img class="mentoring-img" src="../../assets/images/christian.png" alt="Christian Castro">
                <p id="mentoring-name2" class="mentoring-name">CHRISTIAN CASTRO</p>
                <p id="mentoring-description2" class="mentoring-description">Mentor e desenvolvedor FullStack na Lead Dell</p>
            </div>

            <div class="mentoring-child">
                <img class="mentoring-img" src="../../assets/images/emirton.jpg" alt="Emirton Sousa">
                <p id="mentoring-name3" class="mentoring-name">EMIRTON SOUSA</p>
                <p id="mentoring-description3" class="mentoring-description">Mentorando FullStack na Lead Dell</p>
            </div>
        </div>
    
</section>
