<section id="community-container">
    <div class="community-child">
        <p id="community-title" class="section-title">Explore mundos interconectados</p>
        <p id="community-description" class="description">Faça parte da comunidade, encontre uma imensidão de amigos e evolua com novas habilidades</p>
        <a href="https://discord.com/invite/hollowknight" target="_blank"><button id="discord-button" class="page-button"><img src="../../assets/icons/akar-icons_discord-fill.png" alt="discord logo">ENTRAR NA COMUNIDADE</button></a>
    </div>
    <div class="community-child">
        <img id="knight2" src="../../assets/images/dark-knight.png" alt="Hollow Knight">
    </div>
</section>