<footer class="footer-info">
    <p id="footer-text">Copyright © 2022, Todos os direitos reservados</p>
    <ul>
        <div><a href="https://www.youtube.com/channel/UCZS2K8ZsUmujTuj3cNMyBSA" target="_blank"><input type="image" src="../../assets/icons/akar-icons_youtube-fill.png" alt="Youtube"></a></div>
        <div><a href="https://twitter.com/TeamCherryGames" target="_blank"><input type="image" src="../../assets/icons/akar-icons_twitter-fill.png" alt="Twitter"></a></div>
        <div><a href="https://www.facebook.com/teamcherrygames/" target="_blank"><input type="image" src="../../assets/icons/akar-icons_facebook-fill.png" alt="Facebook"></a></div>
    </ul>
</footer>